
.header_navbar {
    height: 80px;
    width: 85%;
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: 1px solid rgb(99,100,106);
}

.search-bar-container {
    position: absolute;
    padding-top: 1.2%;
    width: 26%;
    left: 20px;
    top: 5%;
}

.search-bar-input {
    position: absolute;
    right: 0px;
    height: 30px;
    width: 300px;
}

.search-icon {
    height: 30px;
    width: 30px;
    background-size: cover;
    background-image: url('./images/searchicon.svg')
}