@import url('https://fonts.googleapis.com/css?family=Montserrat');

li {
  text-decoration: none;
  display: -webkit-inline-flex;
  float: right;
  margin-left: 25px;
  font-weight: 900;
}

.Logo-container {
  float: left;
  font-family: 'Montserrat', "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  fill: #4d4f54;
}

.Seewrap-navbar {
  position: relative;
  top: 10%;
}